@import url("https://fonts.googleapis.com/css?family=Lato:300,400,900");

	body {
		background: #f3f6fa;
	}


	body, input, select, textarea {
		color: #7c8081;
		font-family: 'Lato', sans-serif;
		font-size: 15pt;
		font-weight: 300;
		letter-spacing: 0.025em;
		line-height: 1.75em;
	}

	.container {
		margin: 0 auto;
		max-width: 100%;
		width: 1400px;
	}

	#header {
		background: #fff;
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.075);
		font-size: 0.8em;
		left: 0;
		padding: 1em 1.5em;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 100;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	#header h1 {
		font-weight: 900;
		margin: 0;
	}
	#header h2 {
		font-weight: 900;
		font-size: 1em;
	}
	#banner {
		background-color: #645862;
		background-repeat: no-repeat;
		color: #fff;
		padding: 6em 0;
		text-align: center;
	}
	#main .container h1 {
		font-size: 1.5em;
		font-weight: 700;
	}

	#cta {
		background-color: #645862;
		padding: 5em;
		text-align: center;
		margin-top: 100px;
	}
	#cta h2 {
		color: #fff;
		font-weight: 500;
	}
	#cta header {
		margin-bottom: 2em;
	}

	#footer {
		background: #E8EEF4;
		color: #7c8081;
		padding: 5em 5em 10em 5em;
		text-align: center;
	}

